.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}

/* This button are edited by daniel */
.btn-daniel {
    background-color: #008CBA;
}
